/* Import pre-compiled design system styles */
@import "@repo/ui/styles";

/* Custom docs app styles */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-geist-sans);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
}
